.logo {
  @include flex-align-center;
  font-weight: bold;
  gap: 0 1rem;
}

.navbar-header {
  @include flex-column;
  font-weight: bold;
  @media (min-width: 768px) {
    @include flex-row;
    @include flex-align-center;
  }
}

.navbar-header-nav {
  @include flex-align-center;
  margin-top: 0.5rem;
  @media (min-width: 768px) {
    margin-left: auto;
    margin-top: 0;
  }
  ul {
    @include flex-row;
    gap: 1rem;
    .navbar-item {
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom-color: $light;
      }
    }
  }
}
