@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-end{
  display: flex;
  justify-content: flex-end;
}